<!DOCTYPE html>
<html>
	<head>
	<title>Cadastro realizado></title>
		<link href="https://fonts.googleapis.com/css?family=Abel|Dosis|Cabin|Josefin+Sans|Roboto|Material+Icons" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/> 
		<link rel='stylesheet' href='css/style-resultado.css' />	
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body class='backgroundColor'>
  	<div class="section no-pad-bot" id="index-banner">
	    <div class="container">
	      <br><br>
	      <h1 class="header center mainTitle blue-text"><%= resposta %></h1>
	      <div class="row center">
	        <h5 class="header col s12 light">Clique abaixo para retornar à página inicial</h5>
	      </div>
	      <div class="row center">
	        <a href="/" class="btn-large waves-effect waves-light formularioButton">Página Inicial</a>
	      </div>
	      <br><br>
    </div>
  </div>  		
		</div>	
  </body>  

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="javascripts/materialize.min.js"></script>
  <script type="text/javascript" src="javascripts/index.js"></script>
</html>
